* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1500px;
    margin: 0 auto;
}

.question-title {
    font-size: 36px;
    margin: 70px 0 30px;
    color: #4d5257;
}

.paragraphs {
    margin: 40px 0;
    font-weight: lighter;
    line-height: 36px;
    font-size: 22px;
}

.link {
    text-decoration: none;
    color: #3e70d9;
}

ol {
    margin: 20px 0;
    margin-left: 20px;
}

ul {
    margin: 20px 0;
    margin-left: 40px;
    list-style-type: lower-alpha;
}

li {
    margin: 20px 0;
}

span {
    font-size: 30px;
    font-weight: 600;
}